<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sbw.auder">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera2" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/nandi_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/nandi_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AboutUsActivity"></activity>
        <activity
            android:name=".LoginAndSignUp.UserDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginAndSignUp.OTPVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera2Kit.MainActivityCamera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginAndSignUp.LoginPhoneActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".OrdersActivity.FullScreenImageActivity" />

        <service
            android:name=".FirebaseNotification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/scheduled_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity
            android:name=".HomeScreen.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrdersActivity.OrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlaceOrder.PlaceOrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PlaceOrder.PlaceOrderNextActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".PlaceOrder.PlaceOrderFinalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayDistOrderActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ORDER_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrdersActivity.NoOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WalletActivity.MyWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WalletActivity.AddAmountActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>